body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafd;
  overflow: hidden;
}

* {
  font-family: 'Roboto', sans-serif;
}
